@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    color: var(--primary-Color);
    text-decoration: none;
    background-color: transparent;
}

ul,li{
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: #434E5E;
    overflow-x: hidden;

}

:root {
    --primary-Color:#41A4F5;
}
.active_header{
    font-weight: 600;
    color: white !important;
}
.right_0{
    right: 0 !important;
}

.line-effect {
    width: 0;
    height: 3px;
    background-color:  rgba(255, 255, 255, 0.845);;
    position: fixed;
    pointer-events: none;
    transition: all 0.25s linear;
    border-radius: 1px;
}


.active_project-top{
    background: var(--primary-Color);
    color: #fff !important;
}
.active_color{
    border: 2px solid #fafafa !important;
}
.header::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2) !important;
    top: 0;
    left: 0;

}
.header{
    width: 100%;
    background-color: var(--primary-Color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    font-size: 14px;
    position: relative;
    ul{
        z-index: 3;
    }
    &_list--icon{
        display: flex;
        gap: 10px;
    }

    &_bar-icon{
        display: none !important;
        font-size: 1.5rem !important;
        color: white;
        cursor: pointer;

    }

    &_menu--item{
    
    }

    &_item--link{
        width: 36px;
        height: 36px;
        padding-top: 7px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
    }
    &_item--link:hover{
        background: rgba(0,0,0,0.2);
    }

    &_item--link i{
        color: white;
        font-size: 16px;
    }

    &_list--menu{
        display: flex;
        gap: 30px;
    }
    &_menu--link{
        color: rgba(255,255,255,0.5);
        text-transform: uppercase;
        position: relative;
        display: inline-block;
    }

    &_menu--link:hover{
        color: rgba(255, 255, 255, 0.744);

    }
}

.profile{
    background-color: var(--primary-Color);


    &_container{
        height: 320px;
        padding-top: 48px;
        padding-left: 275px;
        padding-right: 275px;
    }

    
    &_color{
        position: absolute;
        background-color: #222222;
        right: -12.2%;
        top: 130px;
        color: white;
        padding: 1rem;
        transition: all ease-in 0.3s;
    }

    &_color-heading{
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.2;
    }

    &_color-option{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px 3px;
    }

    &_color-item{
        margin-right: 0.5rem;
        display: inline-block;
    }

    &_color-link{
        background: var(--primary-Color);
        display: block;
        width: 28px;
        height: 20px;
        border: 2px solid transparent;
        margin-bottom: 10px;
        
    }

    &_color-option li:nth-child(2) a{
        background: #3dabbf;

    }

    &_color-option li:nth-child(2) a{
        background: #3dabbf;

    }

    &_color-option li:nth-child(3) a{
        background: #3dae84;

    }

    &_color-option li:nth-child(4) a{
        background: #3CD8CF;

    }

    &_color-option li:nth-child(5) a{
        background: #23B1F7;

    }

    &_color-option li:nth-child(6) a{
        background: #6f6db2;

    }

    &_color-option li:nth-child(7) a{
        background: #A05377;

    }

    &_color-option li:nth-child(8) a{
        background: #6376BC;

    }

    &_color-option li:nth-child(9) a{
        background: #27c97b;

    }

    &_color-option li:nth-child(10) a{
        background: #567787;

    }

    &_color-option li:nth-child(11) a{
        background: #43AEE2;

    }

    &_color-option li:nth-child(12) a{
        background: #F06447;

    }

    &_color-close {
        position: absolute;
        right: 5px;
        top:5px;
    }
    &_color-close i{
        font-size: 1.5rem;
        color:white;
        opacity: 0.5;
    }
    &_color-close:hover i,  &_color-edit:hover i{
        opacity: 1;

    }
    &_color-edit{
        position: absolute;
        top: 30px;
        left: -36px;
        width: 36px;
        height: 36px;
        background: #222;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-decoration: none;
    }

    &_color-edit i{
        font-size: 1.5rem;
        color: white;
        opacity: 0.8;
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 9px;
    }
    &_color-link .active{
        border: 2px solid #fff;

    }

    &_color-header{
        display: flex;
    }
    &_download{
        color: white;
        background: rgba(0,0,0,0.2);
        border: none;
        width: fit-content;
        height: fit-content;
        padding: 0.375rem 1rem;
        font-weight: 700 !important;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    }

    &_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;

     

        h1{
            font-weight: bold;
            font-size: 2rem;
            line-height: 1;
            color: white;
            margin-bottom: 1rem !important;
            line-height: 1.2;

        }

        p{
            color: #fff !important;
            max-width: 700px;
            font-size: 1.25rem;

            a{
                color: rgba(0,0,0,0.5);
                
            }
            a:hover{
                text-decoration: underline;
            }
        }

    }
}

.resume {
    margin-top: 2.5rem;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;

    &_header{
        display: flex;
        background-color: #434E5E;

    }
    &_avt{
        width: 220px;
    }

    &_header-wrapper{
        display: flex;
        margin-top: 1.5rem;
    }

    &_header-left{
        
        display: flex;
        color:white;
        margin-left: 1.5rem;
    }
    &_item a{
        color: white;
    }

    &_name{
        font-size: 2.25rem;
        letter-spacing: 0.175rem;
        font-weight: 900;
        margin-bottom: 0.25rem !important;
        line-height: 1.2;
    }

    &_title{
        
    font-size: 1.5rem;
    margin-bottom: 1rem !important;
    }

    &_mail{
        margin-bottom: 0.5rem !important;
    }

    &_mail a, &_phone a{
        color: rgba(255,255,255,0.6);
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_mail a:hover &_mail-text, &_phone a:hover &_phone-text{
        text-decoration: underline;
        color: white;
    }

    &_mail a:hover i, &_phone a:hover i{
        color: white;
    }

    &_icon-phone{
        font-size: 25px !important;
        margin-right: 5px;
    }

    &_header-right{
        margin-left: 17rem;
    }

    &_item a{
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: rgba(255,255,255,0.6);
    }

    &_item a:hover span{
        text-decoration: underline;
        color: white;
    }
    &_item a i{
        font-size: 1.6rem;
        color: white !important;
    }
    &_list{
        display:flex;
        flex-direction: column;
        gap:1rem;
    }

    &_content{
        padding: 2rem 2rem 5rem 3rem;
    }

    &_content-top-heading{
        font-size: 1.25rem;
        color: #434E5E;
        font-weight: 700 !important;
        padding-bottom: 1rem !important;
        margin-bottom: 1rem !important;
        line-height: 1.2;
        position: relative;
    }

    &_content-top-heading::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background: #8d9aad;
    }

    &_content_top-desc{
        color: #58677c;
        margin-bottom: 3rem;
    }

    &_content-mid{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    &_mid-left{
        width: 100%;
    }

    & &_mid-right{
        width: 28.9%;
    }

    &_mid-left-heading, &_mid-right-heading{
    font-size: 1.25rem;
    font-weight: 700 !important;
    padding-bottom: 1rem !important;
    margin-bottom: 1rem !important;
    line-height: 1.2;
    position: relative;
    color: #434E5E;
    }



    &_mid-left-heading::after,  &_mid-right-heading::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background: #8d9aad;
    }

    &_ml-content{
        padding-left: 2rem;
        position: relative !important;
    }

    &_ml-content::before{
        content: "";
        display: inline-block;
        width: 3px;
        height: 100%;
        background: #c8cfd8;
        left: 6px;
        top: 4px;
        position: absolute;
    }

    &_ml-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_ml-heading-text{
        font-size: 1.125rem;
        color: #434E5E;
        font-weight: 700 !important;
        margin-bottom: 0.25rem !important;
        line-height: 1.2;
        position: relative;
    }

    &_ml-heading-text::before{
        content: "";
        display: inline-block;
        position: absolute;
        left: -33px;
        top: 3px;
        width: 8px;
        height: 8px;
        border: 4px solid #6f8098;
        background: white;
        border-radius: 50%;
    }

    &_ml-heading-right{
        color: #58677c;
        font-size: 0.875rem;
        font-weight: 500;   
    }

    &_ml-samll{
        font-size: 0.875rem;
    color: #aab4c3;
    display: block;
    }

    &_ml-desc{
        color: #58677c;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &_ml-tech-heading, &_ml-achie-heading{
        font-size: 1rem;
        font-weight: 700 !important;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        color: #58677c;
        margin-block-start: 1.33em;
    }

    &_ml-achie{
        margin-bottom: 1rem;
        color: #58677c;
    }

    &_ml-list{
        color: #58677c;
        margin-bottom: 1rem;
        padding-left: 3rem;
    }

    &_ml-list li{
        display: list-item;
        list-style-type: disc;
        color: #58677c;
    }

    &_ml-tech--list{
        display: flex;
        gap: 1rem;
    }

    &_ml-tech--text{
        padding: 0.35em 0.7em;
    padding-bottom: 0.4em;
    color: #fff;
    background-color: #58677c;
    border-radius: 10rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    }

    &_ml-content-item{
        margin-bottom: 4rem;
    }

    &_ml-heading-text span{
        color: #8d9aad !important;
        font-size: 80%;
        font-weight: 400;
    }

    &_mr-skill{
        margin-bottom: 2rem;
    }

    &_mr-skill-item--text{
        display: block;
        font-size: 0.8125rem;
        color: #434E5E;
        margin-bottom: 3px;
    }
    &_mr-skill-list{
        display: flex;
        flex-direction: column;
        gap:0.5rem;
    }

    &_mr-skill-item-progress{
        height: 0.6rem;
        border-radius: 2px;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #d7dce2;
        position: relative;
    }

    &_mr-skill-item-progress::before{
        content:'';
        height: 0.6rem;
        border-radius: 2px;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #58677c;
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
    }

    &_mr-skill-list &_mr-skill-item:nth-child(2) &_mr-skill-item-progress::before{
        width: 80%;
    }

    &_mr-skill-list &_mr-skill-item:nth-child(3) &_mr-skill-item-progress::before{
        width: 85%;
    }

    &_mr-skill-list &_mr-skill-item:nth-child(4) &_mr-skill-item-progress::before{
        width: 93%;
    }

    &_mr-skill-list &_mr-skill-item:nth-child(5) &_mr-skill-item-progress::before{
        width: 95%;
    }

    &_mr-other--heading{
        font-size: 1rem;
        color: #434E5E;
        font-weight: 700 !important;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }

    &_mr-others-list{
        display: flex;
        flex-wrap: wrap;
        color: #58677c;
    }

    &_mr-others-list li{
        margin-right: 0.5rem;
        display: inline-block;
    }

    &_mr-others-list li span{
        padding: 0.35em 0.7em;
        padding-bottom: 0.4em;
        color: #434E5E;
        background-color: #f5f6f8;
        display: inline-block;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    }

    &_mr-education--heading{
        margin-top: 3rem;
        position: relative;
        font-size: 1.25rem;
        color: #434E5E;
        font-weight: 700 !important;
        padding-bottom: 1rem !important;
        margin-bottom: 1rem !important;
        line-height: 1.2;
    }

    &_mr-education--heading::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background: #8d9aad;
    }

    &_education-content--heading{
        color: #434E5E;
        font-weight: 700 !important;
    }
    &_education-content--heading i{
        margin-right: 0.5rem;
        color: #aab4c3;

    }
    &_education-content-desc{
        font-size: 0.875rem;
    }

    &_education-content-span{
        color: #aab4c3;
        font-size: 0.875rem;
        display: inline-block;
    }

    &_mr-education-content{
        margin-bottom: 1rem;
    }

    &_mr-education-content:last-child{
        margin-bottom: 3rem;
    }

    &_aw-desc{
        margin-left: 1.5rem !important;
    }

    &_mr-lang{
        margin-bottom: 3rem;
    }

    &_mr-lang-heading{

        font-size: 1.25rem;
        position: relative;
        color: #434E5E;
        font-weight: 700 !important;
        padding-bottom: 1rem !important;
        margin-bottom: 1rem !important;
        line-height: 1.2;
    }

    &_mr-lang-heading::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background: #8d9aad;
    }

    &_mr-lang-list{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &_mr-lang-text{
        color: #434E5E;
        font-weight: 700 !important;
    }

    &_mr-lang-text small{
        color: #8d9aad !important;
        font-weight: 400 !important;
        font-size: 80%;
    }

    &_mr-lang-text.normal{
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5!important;
    }
}
