@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: var(--primary-Color);
    text-decoration: none;
    background-color: transparent;
}

ul,li{
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: #434E5E;
    overflow-x: hidden;

}

:root {
    --primary-Color: #41A4F5;
}
.active_header{
    font-weight: 600;
    color: white !important;
}
.active_color{
    border: 2px solid #fafafa !important;
}
.right_0{
    right: 0 !important;
}
.line-effect {
    width: 0;
    height: 3px;
    background-color:  rgba(255, 255, 255, 0.845);;
    position: fixed;
    pointer-events: none;
    transition: all 0.25s linear;
    border-radius: 1px;
}


.active_project-top{
    background: #41A4F5;
    color: #fff !important;
}

.header::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2) !important;
    top: 0;
    left: 0;

}
.header{
    width: 100%;
    background-color: var(--primary-Color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 30px;
    font-size: 14px;
    position: relative;
    ul{
        z-index: 3;
    }
    &_list--icon{
        display: flex;
        gap: 10px;
    }

    &_bar-icon{
        display: none !important;
        font-size: 1.5rem !important;
        color: white;
        cursor: pointer;

    }

    &_menu--item{
    
    }

    &_item--link{
        width: 36px;
        height: 36px;
        padding-top: 7px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
    }
    &_item--link:hover{
        background: rgba(0,0,0,0.2);
    }

    &_item--link i{
        color: white;
        font-size: 16px;
    }

    &_list--menu{
        display: flex;
        gap: 30px;
    }
    &_menu--link{
        color: rgba(255,255,255,0.5);
        text-transform: uppercase;
        position: relative;
        display: inline-block;
    }

    &_menu--link:hover{
        color: rgba(255, 255, 255, 0.744);

    }
}

.profile{
    background-color: var(--primary-Color);

    &_container{
        padding: 48px;
        margin-left: 120px;
        display: flex;
        gap: 50px;
    }

    
    &_color{
        position: absolute;
        background-color: #222222;
        right: -12.2%;
        top: 130px;
        color: white;
        padding: 1rem;
        transition: all ease-in 0.3s;

    }

    &_color-heading{
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.2;
    }

    &_color-option{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px 3px;
    }

    &_color-item{
        margin-right: 0.5rem;
        display: inline-block;
    }

    &_color-link{
        background: #41A4F5;
        display: block;
        width: 28px;
        height: 20px;
        border: 2px solid transparent;
        margin-bottom: 10px;
        
    }

    &_color-option li:nth-child(2) a{
        background: #3dabbf;

    }

    &_color-option li:nth-child(2) a{
        background: #3dabbf;

    }

    &_color-option li:nth-child(3) a{
        background: #3dae84;

    }

    &_color-option li:nth-child(4) a{
        background: #3CD8CF;

    }

    &_color-option li:nth-child(5) a{
        background: #23B1F7;

    }

    &_color-option li:nth-child(6) a{
        background: #6f6db2;

    }

    &_color-option li:nth-child(7) a{
        background: #A05377;

    }

    &_color-option li:nth-child(8) a{
        background: #6376BC;

    }

    &_color-option li:nth-child(9) a{
        background: #27c97b;

    }

    &_color-option li:nth-child(10) a{
        background: #567787;

    }

    &_color-option li:nth-child(11) a{
        background: #43AEE2;

    }

    &_color-option li:nth-child(12) a{
        background: #F06447;

    }

    &_color-close {
        position: absolute;
        right: 5px;
        top:5px;
    }
    &_color-close i{
        font-size: 1.5rem;
        color:white;
        opacity: 0.5;
    }
    &_color-edit{
        position: absolute;
        top: 30px;
        left: -36px;
        width: 36px;
        height: 36px;
        background: #222;
        color: #fff;
        text-align: center;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-decoration: none;
    }
    &_color-close:hover i,  &_color-edit:hover i{
        opacity: 1;

    }

    &_color-edit i{
        font-size: 1.5rem;
        color: white;
        opacity: 0.8;
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 9px;
    }
    &_color-link .active{
        border: 2px solid #fff;

    }

    &_color-header{
        display: flex;
    }

    &_img{
        max-width: 240px;
    }

    &_content{
        display: flex;
        flex-direction: column;
        gap: 15px;

     

        h1{
            font-weight: bold;
            font-size: 2rem;
            line-height: 1;
            color: white;
            margin-bottom: 1rem !important;
            line-height: 1.2;

        }

        p{
            color: #fff !important;
            max-width: 700px;
            font-size: 1.25rem;

            a{
                color: rgba(0,0,0,0.5);
                
            }
            a:hover{
                text-decoration: underline;
            }
        }

    }
    &_btn{
        background: rgba(0,0,0,0.2);
        color: #fff;
        border: none;
        padding: 10px 24px;     
        font-weight: 700 !important;
        width: fit-content;
        border-radius: 5px;
        transition: ease 0.3s;
    }

    &_btn:hover{
        background: rgba(0,0,0,0.4);
    }
}

.talk{
    margin-top: 3rem;
    margin-bottom: 3rem;

    &_item-wrapper{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &_item-item{
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    }

    &_item-content{
        padding-left: 2rem;
        padding-right: 1.5rem;
    }

    &_item-desc{
        max-width: 370px;
    }

    &_item-heading{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    &_time_icon, &_video_icon{
        display: inline-block;
        width: 1em;
        margin-right: 0.2rem !important;
        color: #aab4c3;
    }

    &_item-content span{
        color: #aab4c3;
        font-size: 0.875rem;
    }

    &_item-time{
        margin-right: 0.8rem;
    }

    &_item-desc{
        margin-top: 0;
    margin-bottom: 1rem;    
    color: #434E5E;
    margin-top: 1rem;
    }
}
.embed-responsive-item{
    transform: scale(1.03);
}
.footer{
    text-align: center;
    background-color: var(--primary-Color);
    padding: 3rem 0;

    &_img{
        width: 80px;
        height: 80px;    
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0.5rem !important;
        display: inline-block !important;
        border-radius: 50% !important;
    }

    &_heading{
        font-size: 1.75rem;
        font-weight: 700 !important;
        margin-bottom: 0.5rem !important;
        line-height: 1.2;
        color: #fff !important;
        display: block;
    }

    &_desc{
        margin-bottom: 1rem !important;
        max-width: 780px;
        display: block;
        color: #fff !important;
        text-align: center;
        margin: 0 auto;
    }

    &_btn{
        display: block;
        margin-top: 2rem;
        margin: 0 auto;
    }

    &_desc a{
        color: rgba(0,0,0,0.5);
    }
    &_desc a:hover{
        text-decoration: underline;
    }
}